.jiahao_xjwz{
    text-align: left;
    line-height: 3rem;
    margin-left: 1rem;
}
.xjwz{
    margin-left: 0.5rem;
}
.homeLeft{
    height:500px;
}
.homeRgiht{
    height:1000px;
}
.wbtwz{
    text-align: left;
    line-height: 2rem;
    margin-left: 1rem;
}
.zs{
    text-align: left;
    line-height: 2rem;
    margin-left: 1rem;
}
.shezhi{
    text-align: right;
    margin-right: 2rem;
    margin-top:-2rem;
}
.wbtwz{
    text-align: left;
    line-height: 2rem;
    margin-left: 1rem;
    font-size: 2rem;
}
.wbtwz_content{
    
    background: red;
}
.wbtwz_line{
    background: green;
    height: 3rem;
}
.wbtwz_line>ul>li{
    list-style: none;
    line-height: 3rem;
float: left;
margin-left: 20px;
}