.ffor{
    width:54%;
    margin-left:30%;
    height: auto;
    border-bottom: 1px solid rgb(172, 173, 173);
    margin-top: 10px;
}
.head{
    width: 100%;
    height: 50px;
}
.tx{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: left;
}
.zuozhe{
    font-size: 16px;
    float: left;
    color: black;
    margin-left: 20px;
    line-height: 50px;
    height: 50px;
}
.time{
    float: left;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
    font-size: 14px;
    color: #BBBBBB;
}
.title{
    font-weight: bold;
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 3px;
}
.js{
    font-size: 14px;
    color: #BBBBBB;
    width: 100%;
    height: 102px;
    overflow: hidden;
    margin-bottom: 5px;
}
i{
    margin-left:3%;
    font-size:14px;
    color:gray;
    margin-right: 5px;
}
.desc{
    font-size:14px;
    color:gray;
}
.bottom{
    width:60%;
    margin-left:20%;
}
.tiaocao_left{
    float: left;
    position: fixed;
    margin-left: 15%;
    margin-top:3%;
}
.tiaocao_left>ul>li{
    list-style: none;
}
.button_style{
    width: 10rem;
}
.secondPage{
    display: none;
}
.thirdPage{
    display: none;
}
.forthPage{
    display: none;
}

.secondPage{
    margin-left: 30%;
    width:54%;  
    margin-top: 10px;
}
.for{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #BBBBBB;
}
.touxiang{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    float: left;
    margin-top: 10px;
}
.author{
    color: black;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
}
.desc{
    float: left;
    margin-top: 10px;
}
.guanzhu{
    border-style: none;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    color: #fff;
    background-color: #85BF42;
    float: right;
    margin-top: 25px;
    margin-right: 15px;;
}
.thirdPage{
    margin-left: 30%;
    width:54%;  
    margin-top: 10px;
}
.zhuanti{
    border-radius: 10px;
    width: 70px;
    height: 70px;
    float: left;
    margin-top: 10px;
}
.forthPage{
    margin-left: 30%;
    width:54%;  
    margin-top: 10px;
}
.wenji{
    border-radius: 10px;
    width: 70px;
    height: 70px;
    float: left;
    margin-top: 10px;
    background-color: #ccc;
    line-height: 70px;
    text-align: center;
}
#wj{
    color: black;
    font-size: 30px;
}